[Desktop Entry]
Name=Stark OS
Comment=Jarvis HUD window frame
X-KDE-PluginInfo-Author=Jarvis
X-KDE-PluginInfo-Name=stark-os
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
